.c-nav-menu-sp {
  @include mq() {
    box-shadow: 0 4px 3px 3px rgba(0,0,0,0.5);
    bottom: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #FFF ;
    z-index: 100;
    padding-bottom: 15px;
  }
  @include mq('md','min') {
    display: none;
  }
}
