.c-order-applicant-information-list {
  .c-select {
    width: 14rem;
  }
  .p-order-error__alert {
    margin: 0;
    margin-bottom: 1rem;

    & > div {
      white-space: break-spaces;
    }
  }
  &__address {
    .c-button {
      margin-left: 0.5rem;
    }
    .p-order__table-list__item--text {
      padding: 0 1rem;
      @include mq(){
        padding: 8px;
      }
    }
    input[type="text"] {
      display: inline-block;
      vertical-align: middle;
      font-size: 1rem;
      line-height: 1.25;
      background: #fff;
      border: 1px solid #cacccf;
      border-radius: 4px;
      padding: 0.375rem 0.5rem;
      height: 2.5rem;
      width: 100%;
    }
    &--item {
      padding: 0.5rem 0;
    }
    &--label {
      display: inline-block;
      vertical-align: middle;
      width: 25%;
      @include mq(){
        width: 100%
      }
    }
    &--contents {
      display: inline-block;
      vertical-align: middle;
      width: 75%;
      @include mq(){
        width: 100%
      }
    }
    &--post-code {
      input[type="text"].post-code-1 {
        width: 3rem;
      }
      input[type="text"].post-code-2 {
        width: 4rem;
      }
    }
    &--post-code-comment {
      margin-left: 25%;
      width: 75%;
      @include mq(){
        margin-left: 0;
      }
    }
    &--error {
      input[type="text"],
      .c-select .c-select__control {
        border-color: $Error;
        background-color: $Error10;
      }
      &-msg {
        margin-top: 0.25rem;
        color: $Error;
        svg {
          vertical-align: middle;
        }
      }
    }
  }
}
