.c-order-detail-top {
  // ============ heading 部分 ===============
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }
  &__heading__date {
    li {
      display: inline-block;
      margin-right: 1rem;
      @include mq() {
        display: block;
      }
    }
  }
  &__heading__status {
  }

  // ============ drawing 部分 ===============

  &__drawing {
    margin-bottom: 1rem;
  }
  &__drawing__inner {
    background-color: $LightYellow;
    height: 64px;
    position: relative;
    p {
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
    }
  }
  &__drawing__text {
    &--bold {
      font-weight: bold;
    }
  }

  // ============  content 部分 ===============

  &__main {
    padding-bottom: 1rem;
  }
  &__main__inner {
  }
  &__main__block {
    width: 100%;
    display: flex;
  }
  &__main__thumb {
    margin-right: 1rem;
  }
  &__main__contents {
    width: 100%;
  }
  &__main__category {
    margin-bottom: 1rem;
    @include mq() {
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 0.875rem;
      color: $CoolGray;
      display: inline-block;
      @include mq() {
        display: block;
        font-size: 0.75rem;
      }
    }
  }
  &__main__label {
    margin-right: 1rem;
    @include mq() {
      margin-bottom: 0.5rem;
    }
  }
  &__main__name {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
    @include mq() {
      margin-bottom: 0.5rem;
    }
  }
  &__main__text {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    @include mq() {
      font-size: 1rem;
    }
  }
  &__main__wrap {
    display: flex;
    justify-content: space-between;
    @include mq() {
      display: block;
    }
  }
  &__main__content-left {
    @include mq() {
      margin-bottom: 1rem;
    }
  }
  &__main__content-left__summary {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    &--unit {
    }
  }
  &__main__content-left__place {
    font-size: 0.875rem;
  }

  &__main__content-right {
    @include mq() {
      text-align: center;
    }
    &--pc {
      @include mq() {
        display: none;
      }
    }
    &--sp {
      display: none;
      @include mq() {
        display: block;
      }
    }
  }
  &__main__content-right__again-btn {
    margin-bottom: 1rem;
    .c-button__primary {
      padding: 0.875rem 3.5rem;
    }
  }
  &__main__content-right__receipt {
    font-size: 0.875rem;
    text-align: right;
  }

  // ============ bottom 部分 ===============

  &__bottom {
    border-top: 1px solid #eee;
    padding-top: 1rem;
  }
  &__bottom__btns {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    @include mq() {
      display: block;
      text-align: right;
    }
  }
  &__bottom__btn {
    font-size: 0.875rem;
    @include mq() {
      &:not(:last-child) {
        margin-bottom: 1.125rem;
      }
    }
  }
}
