.c-order-payment-info {
  &__heading {
    font-size: 0.875rem;
    &--bold {
      font-weight: bold;
      margin-bottom: 0.625rem;
      @include mq() {
        margin-bottom: 1rem;
      }
    }
  }
  &__price {
    &--bold {
      font-size: 1.125rem;
      font-weight: bold;
    }
    &--red {
      font-size: 1rem;
      color: $Red;
    }
  }
  &__original-price {
    margin-bottom: 0.625rem;
    @include mq() {
      margin-bottom: 1rem;
    }
  }
  &__original-price__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  &__original-price__tax {
    font-size: 0.75rem;
    text-align: right;
  }
  &__discount {
    margin-bottom: 0.625rem;
    @include mq() {
      margin-bottom: 1rem;
    }
  }
  &__total {
    padding-top: 0.5rem;
    border-top: 1px solid $CoolGray4;
    @include mq() {
      padding-top: 1rem;
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .c-order-payment-info__discount {
      font-size: 1rem;
      font-weight: bold;
      &--red {
        color: $Red;
      }
    }
  }
}
