
.c-popup-modal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
  background-color: rgba(31, 32, 33, .65);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &__inner{
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    max-width: calc(100vw - 90px);
    max-height: calc(100vh - 90px);
    transition-property: all;
    transition-duration: .4s;
    overflow: auto;
    .c-popup-modal__head{
      z-index: 1;
      width: 100%;
      padding: 1rem;
      top: 0;
      .c-popup-modal__title{
        font-size: 24px;
        font-weight: bold;
        color: $CoolBlack;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 1.5rem;
      }
    }
    &__content{
      padding: 20px 20px 20px 20px;
      overflow: auto;
      max-width: 100%;
    }
  }

  &__btn-close {
    position: absolute;
    top: 27px;
    right: 27px;
    width: 18px;
    height: 18px;
    margin-left: auto;
    transition-property: transform;
    transition-duration: .2s;
    cursor: pointer;
  }
}