.c-search-block {
  position: relative;
  &__inner {
    padding: 1rem;
    &--PC {
      position: absolute;
      right: 0;
      z-index: 10001;
      min-width: 616px;
      background-color: #f4f5f6;
      box-shadow: 0px 1px 8px rgb(31 32 33 / 8%);
      border-radius: 8px;
      @include mq("lg", "min") {
        display: block;
      }
      @include mq("lg") {
        display: block;
      }
      @include mq() {
        display: none;
      }
    }
    &--SP {
      display: none;
      @include mq() {
        position: relative;
        display: block;
        background-color: #fff;
        padding: 2.5rem 0;
        z-index: 10001;
        .c-input {
          position: absolute;
          width: calc(100% - 2rem);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: transparent;
    z-index: 10000;
  }
}
