.c-stay-search{
  .c-stay-search__nav {
    border-bottom: 1px solid #eeeeee;
    background-color: $CoolGray6;
    border-radius: 4px 4px 0 0;
    .list__item {
      display: inline-block;
      padding: 1rem 2rem;
      margin-bottom: -1px;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &.is-active {
        text-decoration: none;
        font-weight: bold;
        color: $CoolBlack;
        border-bottom: 3px solid $Red;
      }
      a {
        color: $CoolBlack;
        i img {
          width: 10px;
          margin-left: 0.2rem;
        }
      }
    }
  }
  .c-stay-search__main {
    .c-stay-search__main__row {
      &+.c-stay-search__main__row{
        margin-top: 1rem;
      }
    }
    .c-stay-search__main__keyword {
      flex-grow: 1;
      padding-right: 1.5rem;
      width: 88%;
      display: inline-block;
      @include mq() {
        width: 80%;
      }
      @media screen and (max-width: 735px) {
        width: 75%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 1rem;
      }
      .c-input {
        input[type="text"].c-input__text {
          border-radius: 0.5rem;
        }
        button[type="submit"].c-input__button {
          border-radius: 0.5rem;
          width: 110px;
          font-size: 0.875rem;
          padding: 0.5rem 1rem;
          margin-left: 1.5rem;
          flex-shrink: 0;
          @include mq() {
            width: 110px;
            .c-input__searchlabel {
              display: block;
            }
          }
        }
      }
    }
    .c-stay-search__main__map {
      font-size: 0.875rem;
      text-align: right;
      display: inline-block;
      @media screen and (max-width: 500px) {
        display: block;
      }
      .c-stay-search__main__map-search {
        width: 110px;
        height: 46px;
        padding: 0.5rem 1rem 0.5rem 2rem;
        font-size: 0.875rem;
        font-weight: bold;
        border: 1px solid $CoolGray2;
        border-radius: 6px;
        .c-icon {
          width: 1.125rem !important;
          height: 1.125rem !important;
          left: 0.5rem;
        }
      }
    }
    .c-stay-search__main__areaSelector {
      @media screen and (min-width: 501px) {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        .c-select {
          width: calc(100% / 3 - 0.5rem);
          margin-right: 0.5rem;
          .c-select__control {
            cursor: pointer;
          }
        }
      }
      @media screen and (max-width: 500px) {
        .c-select {
          width:100%;
          margin-top: 0.5rem;
          .c-select__control {
            cursor: pointer;
          }
        }
      }
    }
    .c-stay-search__main__dateSelector {
      display: inline-flex;
      align-items: center;
      row-gap: 10px;
      flex-wrap: wrap;
      .datePicker__wrap {
        position: relative;
        display: inline-block;
        margin-right: 1rem;
        .datePicker__input {
          font-size: 1rem;
          background: #fff;
          input[type="text"] {
            border: 1px solid #CACCCF;
            border-radius: 4px;
            padding: 0.375rem 2.4rem 0.375rem 0.5rem;
            width: 160px;
            height: 2.5rem;
            cursor: pointer;
            text-align: right;
            &:focus {
              outline: 0;
              border: 1px solid $Red;
            }
          }
        }
        svg {
          position: absolute;
          right: 0.8rem;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    .c-stay-search__main__stayConditions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .c-stay-search__select__control:first-child {
        margin-left: 0;
      }
    }
    .c-stay-search__accordion {
      display: flex;
      align-items: center;
      &__title {
      }
      &__content {
        .other_conditions {
          display: flex;
          .other_conditions_radio {
            display: inline-flex;
            .c-radio__box::before {
              background-color: #1f2021;
            }
          }
        }
      }
    }
  }
  .c-stay-search__select__control {
    display: inline-flex;
    align-items: center;
    select {
      font-size: 1rem;
      background: #fff;
      border: 1px solid #CACCCF;
      border-radius: 4px;
      padding: 0.375rem 0.5rem;
      width: 70px;
      cursor: pointer;
      text-align: center;
      height: 40px;
    }
    button {
      width: 25px;
      height: 25px;
      margin: 0 0.25rem;
      border-radius: 20px;
      display: inline-block;
      background-color: $CoolGray1;
      color: #FFFFFF;
      cursor: pointer;
      &:disabled {
        background-color: $CoolGray5;
      }
    }
    span {
      font-weight: bold;
      padding: 0 14px;
    }
    &__left {
      padding-left: 40px;
    }
    &__right {
      padding-right: 14px;
    }
  }
  .c-stay-search__buttons {
    display: flex;
    gap: 0 24px;
    justify-content: center;
    margin-top: 32px;
    border-top: 1px solid #CACCCF;
    padding-top: 24px;
    div {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $radiusSizeMd;
      span {
        padding-left: 4px;
      }
    }
  }
  .c-stay-search__submit-button {
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: #fff;
    padding: 14px 5px;
    height: 3rem;
    max-height: 48px;
    border-radius: $radiusSizeSm;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 4px;
    &:disabled {
      background-color: lightgrey;
    }
    .c-icon {
      margin-top: 6px;

      g {
        fill: #fff;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .c-stay-search__map-button {
    font-size: 0.875rem;
    text-align: right;
    display: inline-block;
    width: 200px;
    position: relative;
    height: 46px;
    font-size: 0.875rem;
    font-weight: bold;
    border: 1px solid $CoolGray2;
    border-radius: 6px;
    .c-icon {
      width: 1.125rem !important;
      height: 1.125rem !important;
      position: absolute;
      right: 3.5rem;
      fill: #1D1D1D;
    }
  }
  .c-stay-search-input {
    height: 3rem;
    border-radius: $radiusSizeMd;
    width: 100%;
    background: $CoolGray6;
    border: 1px solid $CoolGray3;
    color: $CoolBlack;
    line-height: 1.8;
    overflow: hidden;
    padding-left: 16px;
    &::placeholder {
      color: $CoolGray3;
    }
    &:focus {
      outline: none;
      background-color: #FFF7F7 !important;
      border: 1px solid $Red;
    }
  }
}

.c-stay-search {
  .control-label {
    width: 120px;
  }
  .c-button-counter {
    display: inline-flex;
    cursor: pointer;
    &.disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
    &__left {
      margin-right: 4px;
    }
    &__right {
      margin-left: 4px;
    }
  }
  .c-input-dropdown {
    width: 4.5rem;
    display: inline-block;
    text-align: center;
    border: 1px solid #cacccf;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 639px) {
  .c-stay-search {
    .c-stay-search__buttons {
      gap: 0;
      .c-stay-search__submit-button {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}