/**
 * 支払い方法選択
 */
.p-menu-payment-method {
  position: relative;
  width: 100%;

  /* お支払い方法 */
  &__payment-method {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;

    &__label {
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 150%;
      margin-right: 16px;
      width: 87px;
    }

    &__select {
      display: inline-block;
      margin-right: 16px;
      width: 240px;

      @include mq() {
        margin-right: 0;
        width: calc(100% - 103px);
      }

      .error {
        border: 1px solid $Error;
        border-radius: 4px;
        background-color: $Error10;
      }
    }

    @include mq() {
      margin-bottom: 16px;
      width: 100%;
    }
  }

  /* 給トク払いがお得です */
  &__recommend {
    background-color: $Blue;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    width: 195px;

    @include mq() {
      width: 100%;
    }
  }
}
