/**
 * 興行 座席選択モーダル
 */
.p-menu-entertainment-modal {
  position: relative;

  /* 説明 */
  &__description {
    font-size: 1rem;
    letter-spacing: 0.75px;
    line-height: 150%;
    margin-bottom: 1.5rem;
  }

  &__info {
    background-color: $CoolGray;
    color: #fff;
    margin: 0 auto 1.5rem;
    padding: 11px 27px;
    width: 100%;

    @include mq() {
      margin-bottom: 0;
    }

    /* 公演名 */
    &__title {
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.75px;
    }

    /* 公演日 */
    &__date {
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.75px;
    }
  }

  /* 公演情報詳細 */
  &__detail {
    background-color: #eee;
    border: 1px solid #cdcdcd;
    margin-bottom: 24px;
    width: 100%;

    &__item {
      border-bottom: 1px solid #cdcdcd;

      &:last-child {
        border-bottom: none;
      }
      &__title {
        border-right: 1px solid #cdcdcd;
        display: inline-block;
        font-size: 0.875rem;
        line-height: 150%;
        padding: 11px 1rem;
        vertical-align: top;
        width: 174px;

        @include mq() {
          border-bottom: 1px solid #cdcdcd;
          border-right: none;
          width: 100%;
        }
      }

      &__content {
        background-color: #fff;
        display: inline-block;
        padding: 11px 1rem;
        vertical-align: top;
        width: calc(100% - 174px);

        @include mq() {
          width: 100%;
        }

        .p-menu-entertainment-seat:last-child {
          border-bottom: none;
        }
      }
    }
  }

  /* 金額 */
  &__total {
    margin-bottom: 0.5rem;
    text-align: right;

    &__title {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 150%;
      letter-spacing: 0.5px;
      margin-right: 1rem;
      vertical-align: middle;
    }

    &__content {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 150%;
      letter-spacing: 0.5px;
      vertical-align: middle;
    }

    /* ベネポ */
    &__assignmentPoint {
      color: $Red;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    /* 補助クーポン */
    &__subsidy {
      span {
        background-color: #f2f2f2;
        padding: 0.5rem 1rem;
      }

      div {
        margin-top: 0.5rem;

        @include mq() {
          text-align: left;
        }
      }
    }
  }

  &__footer {
    margin-top: 1.5rem;
    text-align: center;
    & .c-buttonWrap2 {
      display: inline-block;
      margin: 0 12px;
      width: 200px;

      @include mq() {
        margin: 0 8px;
        width: 42%;
      }
    }

    /* キャンセルボタン */
    &__cancel {
      background-color: #f2f2f2;
    }
  }
}
