.p-menu-plan-block {
  width: 100%;
  background-color: #fff;
  &__outside {
    padding: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @include mq() {
      padding: 1rem;
    }
  }
  &--recommend {
    border: 1px solid $CoolGray4;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    @include mq() {
      font-size: 1.25rem;
      margin-top: 1rem;
    }
  }
  &__status {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      font-size: 0.6rem;
      padding: 4px 8px;
      border-radius: 2px;
      margin-bottom: 0.5rem;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
    &--benefit {
      margin-bottom: 1rem;
      li {
        background-color: $CoolGray5;
      }
      &.is-active {
        color: #fff;
        background-color: $Kyuutoku;
      }
    }
    &--gourmet {
      li {
        background-color: $LightYellow;
        display: flex;
        align-items: center;
        .c-icon {
          width: 1rem;
          margin-right: 0.4rem;
        }
      }
    }
  }

  &__inner {
    display: flex;
    @include mq() {
      display: block;
    }
  }
  &__image {
    width: 20%;
    margin-right: 1.5rem;
    @include mq() {
      width: 100%;
    }
    img {
      object-fit: contain;
      width: 100%;
    }
  }
  &__contents {
    width: 80%;
    &--wide {
      width: 100%;
    }
    @include mq() {
      width: 100%;
    }
  }
  &__link {
    text-align: right;
  }
}
