.p-menu-facility-service {
  &__table-list {
    width: 100%;
    border-top: 1px solid $CoolGray4;
    border-left: 1px solid $CoolGray4;
    display: flex;
    flex-wrap: wrap;
    &:first-of-type {
      margin-bottom: 1rem;
    }
    &:last-of-type {
      .p-menu-facility-service__table-list {
        &__item {
          width: 33.333%;
        }
        &__text {
          width: 75%;
          &-mark {
            width: 25%;
            justify-content: center;
          }
        }
      }
    }
    &__item {
      width: 50%;
      border-right: 1px solid $CoolGray4;
      border-bottom: 1px solid $CoolGray4;
      display: flex;
      &--data {
        position: relative;
        width: calc(25% / 3);
        @include mq() {
          width: 25%;
        }
      }
    }
    &__text {
      width: 50%;
      background: $CoolGray5;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0.6rem 1rem;
      @include mq() {
        text-align: left;
      }
      &-mark {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0.6rem 1rem 0.6rem 0.4rem;
      }
    }
    @include mq() {
      display: block;
      &__text {
        width: 100%;
        display: block;
        font-size: .875rem;
      }
      &:first-of-type {
        .p-menu-facility-service__table-list {
          &__item {
            width: 100%;
            display: block;
          }
          &__text {
            padding: .4rem .5rem;
            &-mark {
              width: 100%;
              display: block;
              padding: .4rem .5rem;
            }
          }
        }
      }
      &:last-of-type {
        .p-menu-facility-service__table-list {
          &__item {
            width: 100%;
          }
          &__text {
            padding: .75rem .5rem;
            &-mark {
              padding: .75rem .5rem;
            }
          }
        }
      }
    }
  }
}
