.p-menu-membership-coupon-application {
  position: relative;
  &__title {
    margin-bottom: 1.25rem;
    @include mq() {
      margin-bottom: 1rem;
    }
  }
  &__forms {
    align-items: center;
    .p-order-label{
      padding-bottom:  24px;
    }
    .p-order-infor {
      border-top: 1px solid #dcdee0;
      &:last-of-type{
        border-bottom: 1px solid #dcdee0;
      }
      &__item {
        padding: 24px 0;
      }
    }
  }

  &__item {
    padding-top: 1.5rem;
    &:first-child {
      border-top: 1px solid $CoolGray4;
    }
    &--borderBottom {
      padding: 1rem 0;
      border-bottom: 1px solid $CoolGray4;
      @include mq() {
        padding: 2rem 0;
      }
    }

    &__inner {
      position: relative;
    }
  }

  &__item__main {
    display: flex;
    justify-content: space-between;
    @include mq() {
      display: block;
    }
    // &-membership {
    //   justify-content: center;
    // }
    .c-buttonWrap2 {
      margin-left: 3rem;
      @include mq() {
        margin-left: 0;
        margin-top: 1.5rem;
      }
    }
    &.p-custom-grid {
      grid-column-gap: 26px;
      align-items: center;
      .c-select {
        margin-top: 6px;
        > .c-select__control {
          padding-right: 32px;
        }
      }
      .p-item-total-price {
        white-space: nowrap;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #222222;
        margin-top: 6px;
        min-width: 120px;
        text-align: right;
      }
      .p-item-order-label {
        white-space: nowrap;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #222222;
        margin-top: 6px;
      }
    }
  }

  &__item__main__inner {
    &--flex {
      display: flex;
      margin-bottom: 0.5rem;
      @include mq() {
        display: block;
        margin-bottom: 0;
      }
    }
  }

  &__description {
    margin-right: 0.5rem;
    @include mq() {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }
  &__prices {
    font-weight: bold;
    @include mq() {
      margin-bottom: 0.5rem;
    }
    &--space {
      margin-left: 4px;
      margin-right: 4px;
    }
    &--discount-price {
      color: $Red;
    }
  }

  &__alert-top {
    font-size: 1rem;
    color: $Error;
    border: 1px solid $Error;
    border-radius: 4px;
    background-color: $Error10;
    margin-bottom: 1.5rem;
    position: relative;
    padding: 1.125rem 1.125rem 1.125rem 3.5rem;
    span {
      margin-right: 0rem;
      position: absolute;
      top: 50%;
      left: 1.125rem;
      transform: translateY(-50%);
      svg {
        vertical-align: bottom;
      }
    }
  }

  &__alert-each {
    font-size: 0.875rem;
    color: $Error;
    text-align: right;
    margin-top: 0.5rem;
    @include mq() {
      text-align: center;
    }
    span {
      margin-right: 0.5rem;
      height: 0.875rem;
      vertical-align: middle;
    }
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    &--end {
      justify-content: flex-end;
    }
    @include mq() {
      display: flow-root;
      margin-bottom: 0;
    }
  }

  &__payment-method {
    float: left;
    font-weight: bold;
    margin-bottom: 24px;
    vertical-align: middle;
    width: 100%;
  }

  &__payment-total {
    position: relative;
    text-align: right;
    width: 50%;
    height: 42px;
    @include mq() {
      width: 100%;
      text-align: right;
      height: initial;
    }
    p {
      font-size: 0.875rem;
      @include mq() {
        position: relative;
        margin-top: 3rem;
      }
    }
    &__value {
      font-size: 1.75rem;
      font-weight: bold;
      margin-left: 0.5rem;
    }
    &__unit {
      font-weight: bold;
    }
  }

  &__assignmentPoint {
    color: $Red;
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }

  &__coupon-balloon {
    font-size: 0.875rem;
    font-weight: bold;
    color: #fff;
    background-color: $Blue;
    border-radius: 4px;
    max-width: 256px;
    padding: 0.375rem 1rem;
    position: relative;
    margin-right: 1rem;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0px;
      border-left: 5px solid $Blue;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      transform: translateY(-50%);
      position: absolute;
      right: -5px;
      top: 50%;
      @include mq() {
        content: "";
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(50%);
        border: 5.5px solid transparent;
        border-top: 5px solid $Blue;
      }
    }
    @include mq() {
      margin: 0 auto 1rem auto;
    }
  }
  &__apply {
    display: flex;
    justify-content: center;
    &--top {
      margin-bottom: 2rem;
      justify-content: space-between;
    }
    @include mq() {
      display: block;
    }
  }
  &__apply__spinner {
    margin-right: 3rem;
    @include mq() {
      width: 100%;
      margin-right: initial;
      margin-bottom: 1rem;
    }
    .c-spinner {
      margin-top: 0;
    }
  }
  &__apply__button {
    @include mq() {
      width: 100%;
    }
    &--center {
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  /* 利用不可 */
  &__overlay {
    bottom: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }
    &__msg {
      color: #fff;
      display: inline-block;
      font-weight: bold;
      font-size: 1rem;
      letter-spacing: 0.75px;
      line-height: 150%;
      position: relative;
      vertical-align: middle;
      z-index: 100;
    }

    &__back {
      background: rgba(137, 132, 132, 0.7);
      bottom: -6px;
      left: -6px;
      opacity: 0.7;
      position: absolute;
      right: -6px;
      top: -6px;
    }
  }
}
