/**
 * Famiポート時限パスワード発行画面
 */
.p-menus-one-time-password {
  position: relative;

  &__head {
    width: 990px;
    height: 198px;
    margin: auto;
    padding: 0;

    & h1 {
      text-align: center;
      margin: 0;
      padding: 0;

      & img.headScreen {
        display: block;
      }

      & img.headPrint {
        display: none;
      }
    }

    @media print {
      & {
        width: 990px;
        height: 60px;
        margin: 0;
        padding: 0;
      }

      & h1 {
        text-align: center;
        margin: 0;
        padding: 0;

        & img.headScreen {
          display: none;
        }
        & img.headPrint {
          display: block;
        }
      }
    }
  }

  &__idPassBox {
    width: 880px;
    background: #f7f7f7;
    border: solid 3px #00a040;
    display: block;
    margin: 15px auto 30px;
    box-sizing: border-box;
    padding: 15px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-radius: none\9;

    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
    /*IE6,7対策 （haslayout対策）*/
    & {
      *zoom: 1;
    }

    & p {
      text-align: left;
      margin: 0 0 10px;
    }

    &__leadTxt {
      font-size: 12px;
      color: #0e752f;
      & span {
        display: none;
      }
    }

    &__ipBoxInner {
      width: 400px;
      float: left;

      & h3 {
        color: #4c4c4c;
        text-align: left;
        background: none;
        border: none;
        margin: 0;
        padding: 0.3em;
        font-size: 14px;
      }

      & p {
        display: block;
        color: #000;

        &.idPassTxt {
          border: solid 2px #ccc;
          border-radius: 6px;
          margin: 0.2em 0 0.7em;
          padding: 0.4em;
          font-size: 150%;
          letter-spacing: 0.2em;
          background: #fff;
        }

        &.expires {
          margin: 0.2em 0;
          font-size: 125%;
          color: #c00;
          font-weight: bold;
          text-align: center;
        }

        &.note {
          display: block;
          color: #000;
          margin: 0.2em 0 0;
          font-size: 80%;
        }
      }
    }

    &__hint {
      width: 387px;
      float: right;
      margin: 5px 20px 0 0;
      & img.print {
        margin: 15px 0 0 0;
      }

      &__link {
        color: $LinkText;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__note {
      display: block;
      color: #000;
      margin: 0.2em 0 0;
      padding: 0.6em 0 0 0;
      font-size: 80%;
      clear: both;
    }

    @media print {
      & {
        width: 880px;
        background: #fff;
        border: solid 3px #00a040;
        display: block;
        margin: 15px auto;
        box-sizing: border-box;
        padding: 15px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border-radius: none\9;
      }
      &__leadTxt img {
        display: none;
      }
      &__leadTxt span {
        display: block;
      }
      &__hint img.print {
        display: none;
      }
    }
  }

  &__howto {
    width: 940px;
    margin: 50px auto 20px;
    padding: 0;

    & h2 {
      text-align: center;
      margin: 0 0 20px;
      padding: 0;
    }

    & ul {
      background-color: #fff;
      padding: 0;
      overflow: hidden;
      list-style: none;

      & li {
        width: 700px;
        height: 200px !important;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        padding: 20px;

        & span {
          display: block;
          padding: 8px;
          font-size: 18px;
          text-align: left;
        }

        & img {
          float: left;
          margin-right: 50px;
        }
      }
    }

    & p {
      font-size: 11px;
      text-align: left;
      margin: 10px 20px;
    }
  }

  @media print {
    p.btClose {
      display: none;
    }
  }
}
