
.p-mypage-membership {
  &__return {
    margin-bottom: 1rem;
  }
  &__inner {
    @include mypageInner();
    margin-bottom: 2rem;
  }
  &__user {
    padding: 1.5rem;
    text-align: center;
    &__icon {
      margin-bottom: 1rem;
      .c-icon {
        fill: $RedPink;
        width: 3.5rem;
        height: 3.5rem;
      }
    }
    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    &__image {
      position: relative;
      width: 5rem;
      height: 5rem;
      margin: 0 auto 1rem auto;
      border: 1px solid #ccc;
      border-radius: 50%;
      IMG {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: $CoolGray;
      margin-bottom: 1rem;
      &__value {
        margin-left: .5rem;
        color: $CoolBlack;
        font-weight: bold;
      }
    }
  }
  &__menu {
    text-align: center;
    border-bottom: 1px solid $CoolGray4;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    &__title {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      margin-bottom: 1.5rem;
      .menu__title__name {
        font-size: 1.5rem;
      }
      .menu__title__sub {
        font-size: .875rem;
        color: $CoolGray;
      }
    }
    &__coupon-list {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      margin-bottom: 2rem;
      LI {
        display: flex;
        align-items: center;
        // padding: 1rem 2rem;
        padding: 2rem;
        border: 1px solid $Red;
        border-radius: 4px;
        background-color: $CoolGray6;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        .menu__coupon__label {
          position: relative;
          font-weight: bold;
          // padding: 2rem 2rem 2rem 4rem;
          padding: 2.5rem 2rem 2.5rem 4rem;
          border-right: 1px solid $CoolGray4;
          .c-icon {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            fill: $Red;
            width: 3rem;
            height: 3rem;
          }
        }
        .menu__coupon__body {
          font-size: 1.125rem;
          font-weight: bold;
          text-align: center;
          width: calc(100% - 170px);
          .menu__coupon__benefits {
            color: $Red;
            font-size: 2rem;
          }
        }
      }
    }
    &__wrap {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    &__expiration {
      margin-bottom: 1.5rem;
      .menu__expiration__date {
        padding-left: 1rem;
        font-size: 1.125rem;
        font-weight: bold;
      }
    }
    &__notes {
      font-size: .875rem;
      text-align: left;
      margin-bottom: 1.5rem;
    }
    &__use-date {
      margin-bottom: 1.5rem;
      &__label {
        padding-left: 2.5rem;
      }
    }
    &__published {
      text-align: left;
      padding: 1.5rem;
      background-color: $CoolGray6;
    }
  }
  &__print {
    text-align: center;
    padding-bottom: 3rem;
  }
}
