.p-mypage-favorites {
  .p-mypage-favorites__header {
    .c-card__inner4 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}


.p-mypage-favorites__header {
  position: relative;
  &:not(:last-child) {
    margin-bottom: .5rem;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__edit {
  }
  &__filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -1rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    @include mq() {
      justify-content: space-between;
    }
    > li {
      padding-left: 1rem;
      @include mq() {
        flex-grow: 1;
        .c-button {
          width: 100%;
        }
      }
    }
  }
}
.p-mypage-favorites__pager {
}


.p-mypage-favorites__editModeBtn {
  position: absolute;
  right: 1.5rem;
  bottom: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 6rem;
  @include mq() {
    bottom: 3.375rem;
    right: 1rem;
  }
}


.p-mypage-favorites__editModeNav {
  margin-top: 1rem;
  @include mq('md', 'min') {
    .c-card__inner4 {
      padding-top: 0;
    }
  }

  @include mq() {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $CoolBlack, $alpha: .64);
    width: 100%;
    color: #fff;
  }
}


.p-mypage-favorites__editModeNav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .875rem;
  > * {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:not(:last-child) {
      padding-right: 1rem;
    }
    > * {
      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
}


.p-mypage-favorites__menus {
  &:not(:last-child) {
    margin-bottom: .5rem;
  }
  > li {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
  .menus__item__list {
    display: flex;
    align-items: center;
    .menus__item__listCheck {
      padding: 0.5rem 1.5rem 0.5rem 0;
    }
    .menus__item__image {
      width: calc(100% * 1 / 3);
      img {
        width: 100%;
        height: auto;
      }
      @media only screen and (max-width: 639px) {
        width: 80px;
      }
    }
    .menus__item__content {
      padding-left: 1.5rem;
      .top {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: flex-start;
        @media only screen and (max-width: 639px) {
          display: block;
        }
        .label {
          display: inline-block;
          background-color: $CoolGray5;
          color: $Red;
          padding: 0.1rem 0.5rem;
          margin-right: 1rem;
          font-size: 0.7rem;
        }
        .item-number {
          align-self: center;
          font-size: 0.7rem;
          @media only screen and (max-width: 639px) {
            font-size: 1rem;
          }
        }
      }
      .title {
        font-size: 1.15rem;
        font-weight: bold;
        @media only screen and (max-width: 639px) {
          display: none;
        }
      }
      .delete {
        margin-top: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media only screen and (max-width: 639px) {
          display: none;
        }
        span {
          font-size: 0.9rem;
          margin: 0 0.5rem;
        }
      }
    }
  }
  .menus-item__SP {
    display: none;
    @media only screen and (max-width: 639px) {
      display: block;
      .title {
        display: block;
        font-size: 1.15rem;
        font-weight: bold;
        margin-top: 1rem;
      }
      .delete {
        margin-top :1rem;
        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
